<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head profile="http://purl.org/NET/erdf/profile">
<title>BPM流程设计器</title>

<!-- libraries -->
<script src="/statics/component/libs/prototype-1.5.1.js" type="text/javascript"></script>
<script src="/statics/component/libs/path_parser.js" type="text/javascript"></script>
<script src="/statics/component/libs/ext-2.0.2/adapter/ext/ext-base.js" type="text/javascript"></script>
<script src="/statics/component/libs/ext-2.0.2/ext-all-debug.js" type="text/javascript"></script>
<script src="/statics/component/libs/ext-2.0.2/color-field.js" type="text/javascript"></script>

<link rel="Stylesheet" href="/statics/component/libs/ext-2.0.2/resources/css/ext-all.css" type="text/css" />
<link rel="Stylesheet" href="/statics/component/libs/ext-2.0.2/resources/css/xtheme-darkgray.css" type="text/css" />
<link rel="Stylesheet" href="/statics/component/editor/css/theme_norm.css" type="text/css" />
<link rel="Stylesheet" href="/statics/component/editor/css/theme_norm_signavio.css" type="text/css" />
<link rel="Stylesheet" href="/statics/component/explorer/src/css/xtheme-smoky.css" type="text/css" />
<link rel="Stylesheet" href="/statics/component/explorer/src/css/custom-style.css" type="text/css" />

<!-- oryx editor -->
<!-- language files -->
<script src="/statics/component/editor/i18n/translation_zh_cn.js" type="text/javascript" ></script>
<script src="/statics/component/editor/i18n/translation_signavio_zh_cn.js" type="text/javascript" > </script>
<script src="/statics/component/libs/utils.js" type="text/javascript" ></script>
<script src="/statics/component/editor/oryx.debug.js" type="text/javascript" ></script>

<!-- erdf schemas -->
<link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
<link rel="schema.dcTerms" href="http://purl.org/dc/terms/" />
<link rel="schema.b3mn" href="http://b3mn.org" />
<link rel="schema.oryx" href="http://oryx-editor.org/" />
<link rel="schema.raziel" href="http://raziel.org/" />
</head>
</html>
